@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #F8F9FF;
  --foreground: #03065E;
  --brand: #03065E;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

@media print {
  header {
    display: none;
  }
}

.ticker-input::placeholder {
  text-transform: none;
}
